@charset "UTF-8";
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
header {
  text-align: center;
}
section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
}
section div {
  display: grid;
  padding: 10px;
  border: 1px rgba(0, 0, 0, 0.055) solid;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.161);
}
section a {
  text-decoration: none;
  color: black;
  background-color: rgba(157, 112, 248, 0.959);
  padding: 7px;
  border-radius: 4px;
}
